.switch {
  display: inline-block;
  position: absolute;
  top: 5%;
  right: 5%;
  height: 24px;
  width: 50px;
}

.switch__input {
  height: 0;
  width: 0;
  opacity: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-secondary);
  border-radius: 10px;
}

.switch__slider::before {
  content: '';
  position: absolute;
  cursor: pointer;
  left: 4px;
  bottom: 4px;
  height: 16px;
  width: 16px;
  background-color: var(--color-calculator);
  border-radius: 50%;
}

.switch__input + .switch__slider {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.switch__input:checked + .switch__slider::before {
  right: 4px;
  left: unset;
}
